<html>
	<head>
		{% load staticfiles %}
		<link rel="stylesheet" href="{% static 'golds/style.css' %}">
	</head>
	<body>
		<p class="style">Your Gold: {{request.session.gold}}</p>
		<div id="places">
			<div class="farm">
				<h1>Farm</h1>
				<p>(earns 10-20 golds)</p>
				<form method="post" action="{% url 'process_money' %}">
					{% csrf_token %}
    				<input type="hidden" name="action" value="farm">
    				<input type="submit" value="Find Gold">
    			</form>
			</div>
			<div class="cave">
				<h1>Cave</h1>
				<p>(earns 5-10 golds)</p>
				<form method="post" action="{% url 'process_money' %}">
					{% csrf_token %}
    				<input type="hidden" name="action" value="cave">
    				<input type="submit" value="Find Gold">
    			</form>
			</div>
			<div class="house">
				<h1>House</h1>
				<p>(earns 2-5 golds)</p>
				<form method="post" action="{% url 'process_money' %}">
					{% csrf_token %}
    				<input type="hidden" name="action" value="house">
    				<input type="submit" value="Find Gold">
    			</form>
			</div>
			<div class="casino">
				<h1>Casino</h1>
				<p>(earns/takes 0-50 golds)</p>
				<form method="post" action="{% url 'process_money' %}">
					{% csrf_token %}
    				<input type="hidden" name="action" value="casino">
    				<input type="submit" value="Find Gold">
    			</form>
			</div>
		</div>
		<p class="style">Activities</p>
		<div id="message">
			{%for note in request.session.message %}
				<p>{{note}}</p>
			{%endfor%}
		</div>
	</body>
</html>